h1{
    color: #ec1423;
}
h1, img{
    text-align: center;
    display: block;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.links{
    display: inline-block;
    width: 100px;
    height: 50px;
    background: #a4a4a4;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #481119;
    line-height: 50px;
    margin-right: 10px;
}