extends layout

block content
	div.container
		div.row
			div.col-sm-12.col-md-12
				-for (let i=0; i<blogs.length; i++){
					.blog(data-id=''+blogs[i]._id+'')
						h4 #{blogs[i].title}
						p #{blogs[i].content}
					- }
				a(href='/login', class='text-center new-account') login