doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(type='text/javascript', src='js/jquery-3.2.1.min.js' defer)
		script(type='text/javascript', src='js/index.js' defer)
	body
	block content